{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Send Email" %}{% endblock %}

{% block content %}
<h1>{% trans "Send an Email to Subscribers" %}</h1>
<form method="post">
    {% csrf_token %}
    <label for="subject">{% trans "Subject" %}</label>
    <input type="text" name="subject" required>

    <label for="message">{% trans "Message" %}</label>
    <textarea name="message" required></textarea>

    <button type="submit">{% trans "Send" %}</button>
</form>
{% endblock %}