{% extends 'base.html' %}

{% block title %}Send Email{% endblock %}

{% block content %}
<h1 class="mb-4">Send Email to Subscribers</h1>
<form method="post" class="form-group">
    {% csrf_token %}
    <div class="mb-3">
        <label for="subject" class="form-label">Subject:</label>
        <input type="text" name="subject" id="subject" required class="form-control">
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Message:</label>
        <textarea name="message" id="message" required class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>
{% endblock %}