{% extends 'base.html' %}

{% block title %}{{ "Add Project" | trans }}{% endblock %}

{% block content %}
<h1>{{ "Add a New Project" | trans }}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">{{ "Title" | trans }}</label>
    <input type="text" name="title" required>
    
    <label for="description">{{ "Description" | trans }}</label>
    <textarea name="description" required></textarea>
    
    <label for="image">{{ "Image" | trans }}</label>
    <input type="file" name="image">
    
    <button type="submit">{{ "Submit" | trans }}</button>
</form>
{% endblock %}