{% extends "base.html" %}

{% block title %}Blog List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Blog List</h1>

    <!-- Button to add a new blog -->
    <a href="{% url 'add_blog' %}" class="btn btn-primary mb-3">Add New Blog</a>

    <!-- List of blogs -->
    <ul class="list-group">
        {% for blog in blogs %}
            <li class="list-group-item">
                <h2>{{ blog.title }}</h2>
                <p>{{ blog.content|truncatewords:30 }}</p>
                <a href="{% url 'blog_detail' blog.id %}" class="btn btn-secondary">Read more</a>
            </li>
        {% empty %}
            <li class="list-group-item">No blogs available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}